:root {
    --operator: #b3b3b3;
}

html, body {
    height: 100%;
    margin: 0;
}

body {
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: 'Teko', sans-serif;
  background-color: #e6e6e6;
}

.h1 {
    font-size: 0.5rem;
}

.calculator-wrapper {
    height: 30rem;
    width: 20rem;
    padding: 1rem;
    display: grid;
    grid-gap: 0.2rem;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(7, 1fr);
    grid-template-areas:
        "header header header header"
        "display display display display"
        "clear plus-minus add subtract"
        "number7 number8 number9 multiply"
        "number4 number5 number6 divide"
        "number1 number2 number3 result"
        "number0 number0 decimal result";
    background-color: #9999ff;
    border-radius: 2%;
    box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px, rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
}

button {
    all: unset;
    cursor: pointer;
    width: 100%;
    height: 100%;
    font-size: 2rem;
    display: inline-flex;
    justify-content: center;
    align-items: center; 
    background-color: #cccccc;

}

.header {
    grid-area: header;
}

.display {
    grid-area: display;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    font-size: 2.5rem;
    height: 70%;
    background-color: #ff9933;
    border: 0.2rem #000 solid;
    border-radius: 2%;
    padding: 0 0.2rem 0 0.2rem;
    overflow: hidden;
}

.operator button, .btn-decimal, .btn-plusminus, .btn-clear {
    background-color: var(--operator);
}

.btn-result {
    background-color: #a6a6a6;
}

.result {
    grid-area: result;
}

.clear {
    grid-area: clear;
}

.number1 {
    grid-area: number1;
}

.number2 {
    grid-area: number2;
}

.number3 {
    grid-area: number3;
}

.number4 {
    grid-area: number4;
}

.number5 {
    grid-area: number5;
}

.number6 {
    grid-area: number6;
}

.number7 {
    grid-area: number7;
}

.number8 {
    grid-area: number8;
}

.number9 {
    grid-area: number9;
}

.number0 {
    grid-area: number0;
}

.decimal {
    grid-area: decimal;
}

.add {
    grid-area: add;
}

.subtract {
    grid-area: subtract;
}

.multiply {
    grid-area: multiply;
}

.divide {
    grid-area: divide;
}

.plusminus {
    grid-area: plus-minus;
}